@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBgColor: rgba(24, 30, 41, 1);
  --primaryColor:rgba(255, 255, 255, 1);
  --primaryBorder:rgba(53, 60, 74, 1);
  --secondaryColor:rgba(20, 78, 227, 1);
  --text-color: #C9CED6;
  --pink: #EB568E;
  --table-head : #181E29;
  --active-color:#1EB036;
  --inactive-color:#B0901E;
  --table-body:#181E2938;
  --icons-bg-color:rgba(28, 40, 63, 0.69);
  --icons-color:rgba(201, 206, 214, 1);
  --active-bg:rgba(30, 176, 54, 0.14);
  --inactive-bg:rgba(176, 144, 30, 0.19);
  --hover-color:rgba(20, 78, 227, 0.38);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body,
#root {
  width: 100%;
  scroll-behavior: smooth;
}

body {
background-image: url('./assets/svg/Background.svg'),url("./assets//svg/BackgroundSwrill.svg");
background-color: rgba(11, 16, 27, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .via-rgba-11-16-27-57 {
    --tw-gradient-from: rgba(11, 16, 27, 0.57);
    --tw-gradient-to: rgba(11, 16, 27, 0);
    background-image: linear-gradient(180deg, var(--tw-gradient-from), var(--tw-gradient-to));
  }
}